#virgo10 {
: pink; width: 500px; margin-left: auto; margin-right: auto;
}
body {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f1/Berserk_anime_logo.png);
}
h1, h2, h3 {
  text-align: center;
}
