#virgo10 {
: pink; width: 500px; margin-left: auto; margin-right: auto;
}
body {
  background-image: https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c7a7487d-85f4-425b-bdc2-58b9ceb624d7/dg7m90i-15a28566-b4a4-419e-a214-ba893c42ed23.jpg/v1/fit/w_828,h_466,q_70,strp/berserk_logo_wallpaper_by_blackben70_dg7m90i-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYzdhNzQ4N2QtODVmNC00MjViLWJkYzItNThiOWNlYjYyNGQ3XC9kZzdtOTBpLTE1YTI4NTY2LWI0YTQtNDE5ZS1hMjE0LWJhODkzYzQyZWQyMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.vqeKsuPUCd54ujVAnJ8u2A1Ij8WXpi9ewxAT7u5CNnQ;
}
h1, h2, h3 {
  text-align: center;
}
